@import "./settings/colors";
@import "./settings/fonts";
@import "./components/library/input";
@import "./components/library/button";
@import "./components/library/dialog";
@import "./components/library/modal";
@import "./components/library/draggable";
@import "./components/library/table";
@import "./components/library/pagination";
@import "./components/library/grid";
@import "./components/library/select";
@import "./components/library/tabs";
@import "./components/index";
@import "./components/layout";
@import "./components/login";

* {
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: #efb312 #424242;

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background: var(--grey-dark-3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #efb312;
    border-radius: 10px;
  }
}

#__next {
  height: 100%;
}

body {
  background-color: var(--bg-color-1);
  color: white;
  min-height: 100vh;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: var(--font-xl);
  margin: 0 0 1rem 0;
}

p, h2, h3, h4, h5, h6 {
  margin: 0;
}

input[type=checkbox] {
  box-shadow: none;
}

.no-select {
  user-select: none;
}

.form {
  &__footer {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    margin-top: 1rem;
  }
}

a {
  color: var(--blue-light-3);
  text-decoration: none;
  width: auto;
  font-weight: normal;
  text-align: start;
  transition: all 0.3s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}
