button {
  padding: 0.38rem;
  border: none;
  background-color: var(--grey-dark-3);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.3rem;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: var(--font-sm);
  font-weight: 600;
  
  &:hover {
    color: var(--yellow-2);
  }
}

.button {
  &--small {
    width: 5rem;
  }

  &--x-small {
    font-size: var(--font-xsm);
  }

  &--large {
    padding: 0.7rem 1rem;
    width: 10rem;
  }

  &--search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 0.3rem;
  }
  
  &--link {
    display: flex;
    padding: 0;
    align-items: center;

    a {
      color: white;
      font-weight: 600;
      height: 100%;
      padding: 0 0.38rem;
      align-content: center;

      &:hover {
        text-decoration: none;
      }
    }

    &:hover a {
      color: var(--yellow-1);
    }
  }

  &--X {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 0.25rem 0.3rem;

    &:hover, &:hover a {
      color: var(--red-2);
    }
  }

  &--red-color {
    &:hover, &:hover a {
      color: var(--red-2);
    }
  }

  &--plain {
    background-color: transparent;
    box-shadow: none;
  }

  &--danger {
    color: var(--red-2);
  }

  &--circle {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-weight: 100;
    margin: 0.2rem;
    font-size: var(--font-xsm);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.2rem;
  }

  &--save {
    color: white;
    background-color: var(--green-1);

    &:hover {
      color: var(--green-light-2);
      background-color: transparent;
    }
  }

  &--blue {
    color: white;
    background-color: var(--blue-1);

    &:hover {
      color: var(--blue-light-1);
      background-color: transparent;
    }
  }

  &--green {
    color: white;
    background-color: var(--green-1);

    &:hover {
      background-color: var(--green-light-1);
    }
  }

  &--center {
    align-self: center;
  }

  &--hover-move:hover {
    transform: translateY(-1px);
  }
}


button:disabled {
  cursor: not-allowed;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
}
