.dropdown {
  list-style: none;
  margin: 0;
  position: relative;
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  color: white;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  &__label {
    margin-top: 0.5rem;
  }

  &__container {
    position: relative;
    height: 30px;
    margin: 0.4rem 0 0.4rem 0;
    width: 100%;
  }

  &__arrow {
    padding: 0.4rem 0 0 0.5rem;
    align-self: center;
  }

  &__option {
    background-color: var(--grey-light-1);
    padding: 0.5rem;
    width: 100%;
    transition: all ease-in-out 0.3s;
    font-size: var(--font-xsm);

    &--selected {
      border: 2px solid black;
      padding-right: 0.8rem;
    }

    &:nth-child(even) {
      background-color: var(--grey-light-2);
    }
    
    &:last-child {
      border-bottom-left-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
    }

    &:hover {
      color: var(--yellow-1);
    }
  }

  &--input {
    width: 100%;
    border: none;
    color: var(--grey-dark-1);

    .dropdown__arrow {
      background-color: var(--grey-light-3);
      position: absolute;
      right: 0.12rem;
      height: 1.4rem;
      top: 0.12rem;
      padding: 0.2rem 0.2rem 0.2rem 0.3rem;
    }

    .dropdown__option {
      background-color: white;
      padding: 0.1rem;
      border-bottom: 1px solid var(--grey-light-4);

      &--selected {
        border-bottom: 2px solid black;
      }

      &:last-child {
        border-radius: 0;
      }

      &:hover {
        background-color: var(--grey-light-4);
        color: black;
      }
    }
  }

  &--small {
    max-width: 10rem;
  }

  &--label-stack {
    display: flex;
    flex-direction: column;
    text-align: start;

    .dropdown__container {
      margin-top: -0.1rem;
    }
  }
}


select {
  background-color: var(--grey-light-1);
  color: white;
  border: none;
  border-radius: 0.3rem;
  
  option {
    border-radius: 0;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
}
