.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 0;
  width: 100%;

  &__item {
    border: 2px solid black;
    background-color: #585858;
    padding: 0.5rem;
    border-radius: 0.3rem;
    height: fit-content;

    &:last-child {
      border-right-width: 2px;
    }

    &--no-style {
      border: none;
      background-color: transparent;
      padding: 0;
    }

    &--low-opacity-bg {
      background-color: #58585875;
    }

    &--sub-table-item {
      border: none;
      padding: 0;
    }
  }
}
