table {
  border-collapse: collapse;
  color: white;
}

td {
  border: 2px solid black;
  padding: 0.3rem;
  font-size: var(--font-sm);
}

th {
  border: 2px solid black;
  border-width: 2.5px;
  background-color: var(--grey-dark-3);
  padding: 0.8rem;
}

td {
  text-align: start;
}

tr:nth-child(even) {
  background-color: var(--grey-light-1);
}

tr:nth-child(odd) {
  background-color: var(--grey-dark-2);
}

.table {
  &--plain {
    color: black;

    th {
      background-color: transparent;
      padding: 0.3rem;
    }

    tr:nth-child(even) {
      background-color: transparent;
    }
  }

  &--row-details, &--edit-row-details {
    color: white;
    width: 100%;

    th {
      color: var(--yellow-2);
      background-color: var(--grey-dark-1);
      padding: 0.3rem 1.5rem;
      text-align: start;
      white-space: nowrap;

      @media (max-width: 1300px) {
        white-space: wrap;
      }
    }

    td {
      text-align: start;
      width: 100%;
      padding-left: 0.7rem;
    }
  
    tr:nth-child(even) td {
      background-color: var(--grey-dark-2);
    }
    
    tr:nth-child(odd) td {
      background-color: var(--grey-dark-4);
    }
  }

  &--edit-row-details {
    td {
      padding: 0;
    }

    input, textarea {
      margin: 0;
      width: 100%;
      max-width: none;
      background-color: transparent;
      box-shadow: none;
      color: white;
      
      &[type="date"]::-webkit-calendar-picker-indicator {
        background-color: white;
        padding: 0;
        border-radius: 0.2rem;
      }
    }
  }
}

.table-buttons {
  text-align: center;

  button {
    margin-top: 0.2rem;
    width: 100%;
    border: 1px solid var(--grey-dark-1);
  }
}
